ds598_work/pipeline/WeatherHistory_Ingestion_Pipeline.json
{
	"name": "WeatherHistory_Ingestion_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach_HitoricalWeather",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, 52)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_HistoricalWeather_Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable weekParam",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "HistoricalWeather_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "HistoricalWeather_sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable weekParam",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "weekParam",
								"value": "@variables('weekID')\n"
							}
						}
					]
				}
			}
		],
		"variables": {
			"weekOffset": {
				"type": "Integer"
			},
			"weekParam": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}